<h1>Add an Artist</h1>
<p>Add an Artist Here:</p>

<form action="/artists" method="post">
  <label for="artistName">Name of Artist</label>
  <input id="artistName" name="artistName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back Home</a></p>
<p><a href="/artists">Back to Artists</a></p>